.nav-link {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.125rem;
  padding: {
    left: 1.5rem;
    right: 1.5rem;
  }

  &:hover {
    color: scale-color($color: #f0f0f0, $lightness: -20%);
  }
}

.active {
  text-decoration: underline;
}
